global
    maxconn {{or (key "service/haproxy/maxconn") 256}}
    debug

defaults
    mode http
    timeout connect {{or (key "service/haproxy/timeouts/connect") "5000ms"}}
    timeout client {{or (key "service/haproxy/timeouts/client") "50000ms"}}
    timeout server {{or (key "service/haproxy/timeouts/server") "50000ms"}}

frontend www
    bind *:80

    # Generated automatically by consul-template
{{ range services }}
    acl host_{{ .Name }} hdr(host) -i {{ .Name }}.{{ or (env "HAPROXY_DOMAIN") "haproxy.service.consul" }} 
    use_backend {{ .Name }}_backend if host_{{ .Name }}
{{ end }}

{{ range services }}
backend {{ .Name }}_backend
{{ if eq .Name "mesos" }}
   mode http
   balance roundrobin
   option httpclose
   option forwardfor
   option httpchk /master/state.json
   http-check expect string elected_time
   timeout check 10s
   {{ range service .Name }}
   server {{ .Node }} {{ .Address }}:{{ .Port }} check inter 10s fall 1 rise 3
   {{ end }}
{{ else }}
    {{ range service .Name }}
    server {{ .Node }} {{ .Address }}:{{ .Port }}
    {{ end }}
{{ end }}
{{ end }}
